# General
HELP.md

# Maven specific
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle specific
/.gradle/
/build/
!**/src/main/**/build/
!**/src/test/**/build/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
.vscode/

# Java related
*.class
*.jar
*.war
*.ear

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Environment variable files
.env

# Temporary files
*.tmp
*.temp
*.swp
*~
